@import url(fonts.css);
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
a {
text-decoration: none;

}
body {
background: #ffffff;
}
   
ul{
list-style: none;
}
.container{
max-width:1150px;
margin: 0 auto;
padding: 0 15px;
}

.header__nav{
padding: 25px 0 25px;

}

.header__top{
display: flex;
justify-content: space-between;
gap: 30px;
align-items: center;

}
.logo{
width: 55px;
height: 55px;
margin-bottom: 20px;

}
.Telega{
width: 45px;
height: 45px;
}
.Info{
font-family:'Montserrat-Bold';
font-size: 15px;
color: black;
}



.main-menu {
padding-top: 10px;


list-style: none;
margin: 0;
padding: 0;
gap: 20px;
font-family:'Montserrat-Bold';    
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;

    }
    .main-menu > li {
    display: inline-flex; 
    }
    .main-menu > li + li {
    margin-left: 20px; 
    }
    .main-menu > li > a {
    padding: 0 0 20px 0;
    position: relative; 
    text-transform: uppercase;    
    color: #000;
    font-weight: bold;
    letter-spacing: 0.2px;
    font-size: 16px;
    text-decoration: none;    
    }
    .main-menu > li > a:hover {
    text-decoration: none;    
    color: #000000;
    }
    .main-menu > li > a:after {
    width: 0;
    height: 3px;
    background-color: #000000;
    content: '';
    left: 0;
    bottom: 10px;
    position: absolute;
    transition: all .3s; 
    }
    .main-menu > li > a:hover::after {
    width: 100%; 
    }
    .main-menu > li.active a:after {
    width: 100%; 
    }
    .main-menu li {
    margin: 0;
    white-space: nowrap; 
    }
    .main-menu li.menu-children {
    position: relative; 
    margin-right: 12px; 
    }
    .main-menu li.menu-children:after {
    position: absolute; 
    content: "\2039";
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    right: -12px;
    top: -2px;
    transform: rotate(-90deg);
    }
    .main-menu li li.menu-children:after {
    position: absolute; 
    content: "\2039";
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    right: 10px;
    top: 12px;
    transform: rotate(180deg);
    }
    .main-menu li.menu-children:hover > ul {
    opacity: 1;
    visibility: visible;
    transform: translateY(0); 
    }
    .main-menu ul {
    padding: 10px 0;
    margin: 0;
    list-style: none;
    background-color: #000000;
    position: absolute;
    z-index: 20;
    min-width: 220px;
    top: 100%;
    left: -30px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(5px);
    transition: all 200ms cubic-bezier(0.43, 0.59, 0.16, 1.25); 
    }
    .main-menu ul li {
    display: block;
    padding: 0 10px;
    line-height: 1.1; 
    }
    .main-menu ul li:last-child {
    margin-bottom: 0; 
    }
.main-menu ul li a {
display: block;
color: #fff; 
padding: 10px;
transition: all .3s; 
text-decoration: none;    
}
.main-menu ul li a:hover {
color: #000000; 
background: #FFF;
text-decoration: none;    
}
.main-menu ul ul {
top: 0;
left: 100%; 
}    


.header__inform{
display: flex;
gap: 10px;
margin-bottom: 10px;
}
.contact{
display: flex;
flex-direction: column;
gap: 2px;
}


.sticky-list {
display: grid;
background: #FFF;
grid-template-columns: 4px 1fr;
 margin: 8px;
color: #000;
height: 500px;
border: 4px solid #000000;
border-radius: 5px;
overflow-y: auto;
margin-top: -50px;

box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.1);
  }
.sticky-list dt {
position: sticky;
top: 10px;
left: 10px;
width: 36px;
height: 36px;
display: flex;
align-items: center;
justify-content: center;
font-weight: bold;
font-size: 18px;
font-family: 'Montserrat-Regular';
border-radius: 20px;
color: #FFF;
grid-column: 1;
background: #000000;
margin-top: 12px;
border: 4px solid #2a2a2a;
}
.sticky-list dd {
grid-column: 2;
font-size: 16px;
font-family: 'Montserrat-Regular';
line-height: 22px;
margin-left: 54px;
position: relative;
top: -10px;
}
.sticky-list dd:last-child {
padding-bottom: 20px;
}
.sticky-list dt + dd {
margin-top: 28px;
}
.dd-link{
font-family:'Montserrat-Black';
color: #000;
transition: 0,3s;

}
.dd-link:hover{
color: rgb(58, 164, 44);
}  

.Popular{
    padding-top: 50px;
    padding-bottom: 50px;
    }
    .hr {
        height: 20px;
        margin: 30px auto;
        width: 70%;
        background-image: radial-gradient(farthest-side at 50% -50%, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
        position: relative;
        border: none;
    }
    .hr:before {
        height: 1px;
        position: absolute;
        top: -1px;
        left: 0;
        right: 0;
        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 0));
    }
    
    
    .Popular__items{
    display: flex;
    flex-wrap: wrap;
justify-content: center;
    gap: 30px;
    
    }
    .folder{
    width: 200px;
    height: 200px;
    
    }
    .folder-YouTube{
    width: 200px;
    height: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    
    }
    .Popular__item-link{
    font-size: 20px;
    font-family:'Montserrat-Bold';
    color: #111;
    
    }
    .Popular__item-text{
    font-size: 15px;
    font-family: 'Montserrat-Regular';
    color: #111;
    }









.introduction{
background: url('../img/Книгифон.jpg') no-repeat center/cover;
width: 100%;
height: 700px;
display: flex;
align-items: center;
}
    
.introduction__title {
margin: 0;
font-size: 55px;
text-align: center;
font-family:'Montserrat-Bold';
line-height: 57px;
color: #ffffff;
background: rgba(0, 0, 0,0.7);
box-shadow: 0 6px 18px rgba(0,0,0,0.2), 0 16px 28px rgba(0,0,0,0.2);
padding: 25px 61px;
backdrop-filter: blur(8px);
}

.certificates{
padding-top: 50px;
padding-bottom: 50px;    
background: #111;


}
.certificates__title{
font-size: 42px;
color: #FFF;
font-family: 'Montserrat-Regular';

}
.certificates__text{
margin-top: 20px;
margin-bottom: 60px;
font-size: 20px;
color: #FFF;
font-family: 'Montserrat-Regular';
}
.Doc-1{
width:350px ;
height:250px ;
box-shadow: 10px 15px #202020;
}
.certificates__item{
display: flex;
gap: 30px;

}
.Flags{
width: 60px;
height: 60px;

}
.FlagR{
width: 60px;
height: 40px;
}
.author__top{
display: flex;
align-items: center;
}
.Site{
margin-top: 20px;
margin-bottom: 20px;
font-size: 42px;
color: #000000;
font-family: 'Montserrat-Regular';
}
.notes__title{
margin-top: 20px;
margin-bottom: 20px;
font-size: 30px;
color: #000000;
font-family: 'Montserrat-Regular';
}
.notes__text{
font-size: 18px;
color: #000000;
font-family: 'Montserrat-Regular';
}
.notes{
display: flex;
flex-direction: column;
gap: 10px;

}

.essay__title{
text-align: start;
font-size: 20px;
font-family:'Montserrat-Bold';
}
.informa__text{
font-size: 17px;
font-family: 'Montserrat-Regular';
text-align: justify;
text-indent: 1.5em;
margin-bottom: 20px;
margin-top: 20px;
}
.horizontal-line{
max-width:600px;
border-top: 3px solid #000000;
margin-top: 10px;
margin-bottom: 10px;
   
}


.Popular__info-item {
    position: relative;
    max-width: 100%;
    display: inline-block;
    border: 6px solid #000000;
    background: #ffffff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
    overflow: hidden;
    margin: 15px 0;
    font-size: 0;
}
.Popular__info-item img {
    transition: all 300ms;
    position: relative;
    top: 0;
    left: 0;
}
.Popular__info-item:hover img {
    transition: all 700ms;
    transform: scale(1.1);
}
.Popular__info-item figcaption {
    position: absolute;
    background: #ffffff;
    transition: transform 300ms;
    padding: 12px;
}
.Popular__info-item:hover figcaption {
    transform: translateY(0);
}

.Popular__info-item:hover img {
    left: -90px;
}
.Popular__info-item figcaption {
    right: 0;
    top: 0;
    transform: translateX(180px);
    border-left: 6px solid #ffffff;
}
.Popular__info-item figcaption {
    width: 180px;
    height: 100%;
}
.Popular__info-item figcaption .info span {
    font-size: 13px;
    font-family: Verdana, sans-serif;  
    display: block;
}
.Popular__info-item figcaption .info h3 {
    font-size: 18px;
    display: inline-block;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid #ffffff;
}
.Books{
max-width: 350px;
max-height: 350px;
}
